
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.dlawoals2713.yamaha">
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:requestLegacyExternalStorage="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/OneUITheme">
		<activity
			android:name=".SettingActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true" />
		<activity
			android:name=".MMFPlayerActivity"
			android:configChanges="orientation|screenSize"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
			        <action android:name="android.intent.action.VIEW" />
			        <category android:name="android.intent.category.DEFAULT"/>
			        <category android:name="android.intent.category.BROWSABLE"/>
			
			        <!-- MIME 타입 필터 -->
			        <data android:scheme="content" android:mimeType="application/vnd.smaf"/>
			        <data android:scheme="file" android:mimeType="application/vnd.smaf"/>
			
			        <!-- 파일 확장자 필터 -->
			        <data android:pathPattern=".*\\.mmf" />
			    </intent-filter>
			</activity>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false" />
	</application>
</manifest>
